<!DOCTYPE html>
<!--[if lte IE 8]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="gte-ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  {% include head.html %}
  <body{% if page.page %} class="{{ page.page }}"{% endif %}>
    <div class="skiptocontent"><a href="#maincontent" class="skiptocontent-link">skip to main content</a></div>
    <div class="wrap">
      <div class="content">
        <header>
          <p class="logo"><a href="/"><img src="/assets/img/joanne-dexter.png" alt="Joanne Dexter, soprano"></a></p>
        </header>
        <nav>
          <ul class="nav">
            <li class="homelink"><a href="/">Home</a></li>
            <li class="biographylink"><a href="/biography/">Biography</a></li>
            <li class="audiolink"><a href="/audio/">Audio</a></li>
            <li class="repertoirelink"><a href="/repertoire/">Repertoire</a></li>
            <li class="weddinglink"><a href="/wedding/">Wedding</a></li>
            <li class="reviewslink"><a href="/reviews/">Reviews</a></li>
            <li class="contactlink last"><a href="/contact/">Contact</a></li>
            {% comment %}<li class="buylink last"><a href="/buy/">Buy</a></li>{% endcomment %}
          </ul>
        </nav>
        <main id="maincontent">
          <div class="mlr clear">
            {{ content }}
          </div>
        </main>
        </main>
      </div>
    </div>
  </body>
</html>